##ignore some cache files##

.ipynb_checkpoints/
*.DS_Store
*.pyc
*checkpoint.ipynb
.mypy_cache*
.vscode*
__pycache__/
./py_venv/
py_venv/
demo.txt
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/
04-Convolutional Neural Networks/week3/yolo.weights
04-Convolutional Neural Networks/week3/yad2k_bak/models/keras_darknet19.py
04-Convolutional Neural Networks/week3/yad2k_bak/models/keras_yolo.py
04-Convolutional Neural Networks/week3/yad2k_bak/utils/__init__.py
04-Convolutional Neural Networks/week3/yad2k_bak/utils/utils.py
04-Convolutional Neural Networks/week3/out/test.jpg
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/0.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/20.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/40.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/60.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/80.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/100.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/120.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/140.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/160.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/180.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/generated_image.jpg
04-Convolutional Neural Networks/week3/out/test.jpg
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/0.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/20.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/40.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/60.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/80.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/100.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/120.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/140.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/160.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/180.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/generated_image.jpg
02-Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/week1/.DS_Store
02-Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/week2/.DS_Store
02-Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/week3/.DS_Store
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/0.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/20.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/40.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/60.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/80.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/100.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/120.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/140.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/160.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/180.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/0.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/20.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/40.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/60.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/80.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/100.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/120.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/140.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/160.png
04-Convolutional Neural Networks/week4/Neural Style Transfer/output/180.png
